<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<head>
<title>保管家</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport"
	content="width=device-width,initial-scale=1,user-scalable=0" />
<link rel="stylesheet" type="text/css" th:href="@{/css/weui.css}" />
</head>
<body style="ontouchstart">
	<div layout:fragment="content" class="weui_cells weui_cells_form">
	<h1 layout:fragment="header" align="center">坤哥爱你！</h1>
	</div>
</body>
</html>