<!DOCTYPE HTML>
<div th:fragment="header"> 
    <title>保管家信息平台</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

	
	<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" href="../css/bootstrap.min.css"/>
	<link rel="stylesheet" th:href="@{/static/css/bootstrap-responsive.min.css}" />
	<link rel="stylesheet" th:href="@{/resources/css/matrix-style2.css}" />
	<link rel="stylesheet" th:href="@{/resources/css/matrix-media.css}" />
	<link rel="stylesheet" th:href="@{/resources/css/bootstrap-wysihtml5.css}" />
	<link rel="stylesheet" th:href="@{/resources/font-awesome/css/font-awesome.css}" />
	<link rel="stylesheet" th:href="@{/resources/css/leanmodel.css}" />

	<script th:src="@{/resources/js/jquery.min.js}" ></script> 
	<script th:src="@{/resources/js/jquery.dataTables.min.js}" ></script> 
	<script th:src="@{/resources/js/jquery.leanModal.min.js}" ></script>

</div>
