<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<head>
<title>保管家信息平台</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="pragma" content="no-cache">
	<meta http-equiv="cache-control" content="no-cache">
	<meta http-equiv="expires" content="0">    
	<meta http-equiv="keywords" content="keyword1,keyword2,keyword3">
	<meta http-equiv="description" content="This is my page">
	
	<link rel="stylesheet" th:href="@{/resources/css/bootstrap.min.css}" />
	<link rel="stylesheet" th:href="@{/resources/css/bootstrap-responsive.min.css}" />
	<link rel="stylesheet" th:href="@{/resources/css/matrix-style2.css}" />
	<link rel="stylesheet" th:href="@{/resources/css/matrix-media.css}" />
	<link rel="stylesheet" th:href="@{/resources/css/bootstrap-wysihtml5.css}" />
	<link rel="stylesheet" th:href="@{/resources/font-awesome/css/font-awesome.css}" />
	<link rel="stylesheet" th:href="@{/resources/css/leanmodel.css}" />

	<script th:src="@{/resources/js/jquery.min.js}" ></script> 
	<script th:src="@{/resources/js/jquery.dataTables.min.js}" ></script> 
	<script th:src="@{/resources/js/jquery.leanModal.min.js}" ></script>
</head>
<body>
<!-- 	<div class="container">
		<div class="navbar">
			<div class="navbar-inner">
				<a class="brand"
					href="https://github.com/ultraq/thymeleaf-layout-dialect">
					Thymeleaf - Layout </a>
				<ul class="nav">
					<li><a th:href="@{/}" href="messages.html"> Messages </a></li>
				</ul>
			</div>
		</div>
		<h1 layout:fragment="header">Layout</h1>
		<div layout:fragment="content">Fake content</div>
	</div> -->
</body>
</html>
