<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<head>
	<title>保管家信息平台登录</title>
	<meta http-equiv="Content-Type" content="text/css; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"
		href="../../back-test/css/bootstrap.min.css" />
	<link rel="stylesheet" th:href="@{/css/bootstrap-responsive.min.css}"
		href="../../back-test/css/bootstrap-responsive.min.css" />
	<link rel="stylesheet" th:href="@{/css/matrix-login.css}"
		href="../../back-test/css/matrix-login.css" />
	<link rel="stylesheet" th:href="@{/font-awesome/css/font-awesome.css}"
		href="../../back-test/font-awesome/css/font-awesome.css" />
	<link rel='stylesheet' href='http://fonts.useso.com/css?family=Open+Sans:400,700,800'  />
	<link rel="stylesheet" th:href="@{/css/weui.css}"
	href="../../back-test/css/weui.css" />
    <style type="text/css">
        input{
            font-family: "Microsoft Yahei";
        }
        .control-label{
            color: #B2DFEE;
            padding-left: 4px;
        }
    </style>
    
    <script th:src="@{/js/jquery.min.js}" src="../../back-test/js/jquery.min.js"></script>
    <script th:src="@{/js/matrix.login.js}" src="../../back-test/js/matrix.login.js"></script>
    <script th:inline="javascript">
    $(function(){
    	//输入时进行验证
    	$('form :input').blur(function(){
            var $parent = $(this).parent();
            $parent.find(".formtips").remove();
            if( $(this).is('#mobile')){
            	if(this.value == ""){
                	$('#accounttip').css("visibility", "");
                	$('#accounttip').addClass("onError");
                }
            	else{
            		$('#accounttip').css("visibility", "hidden");
            		$('#accounttip').removeClass("onError");
            	}
            }
            if( $(this).is('#password')){
            	if(this.value == ""){
                	$('#pwdtip').css("visibility", "");
                	$('#pwdtip').addClass("onError");
                }
            	else{
            		$('#pwdtip').css("visibility", "hidden");
            		$('#pwdtip').removeClass("onError");
            	}
            }
            
    	}).keyup(function(){
    	      $(this).triggerHandler("blur");
       	});//end blur
      	//提交时进行验证
        $('#loginform').submit(function(){
                 $("form :input.required").trigger('blur');
                 var numError = $('form .onError').length;
                 if(numError){
                     return false;
                     alert("你好");
                 }
                 
          });
       	
    	
    });
    </script>
</head>
<body onkeydown="keydown()">
    <div id="loginbox">  
        <div class="control-group normal_text"> 
            <h2 style="color:#B2DFEE;font-size:28px;">保管家信息系统平台</h2>
        </div>        
        <form id="loginform" th:action="@{login}" th:object="${sysUser}"
			action="#" method="post">
			<div th:if="${not #strings.isEmpty(error)}">  
	          <p>  
	            <td th:text="${error}"></td>  
	          </p>  
	        </div> 
            <div class="control-group">
                <label class="control-label">登陆手机号<span class="onError" id="accounttip" style="color:red;visibility:hidden">&nbsp;&nbsp;&nbsp;请输入您的账号！</span></label>
                <div class="controls">
                    <div class="main_input_box">
                        <span class="add-on bg_lg"><i class="icon-user" style="font-size:16px;"></i></span>
                        <input class="required" type="text" th:field="*{mobile}" min="11"
						maxlength="11" placeholder="请输入手机号"/>
                    </div>
                </div>
            </div>
            <div class="control-group2">
                <label class="control-label">登陆密码<span class="onError" id="pwdtip" style="color:red;visibility:hidden">&nbsp;&nbsp;&nbsp;请输入您的密码！</span></label>
                <div class="controls">
                    <div class="main_input_box">
                        <span class="add-on bg_ly"><i class="icon-lock" style="font-size:16px;"></i></span>
                        <input class="required" type="password" th:field="*{password}"  placeholder="请输入密码" />
                    </div>
                </div>
            </div>
            <div class="form-actions">
                <span class="pull-right"><input type="submit" id="checkBtn" class="btn btn-success" style="width:450px;" value=" 登&nbsp;&nbsp;&nbsp;&nbsp;录"/></span>
            </div>
            <div class="control-group normal_text">
                <div style="font-size:14px;color:gray;">版权所有 &copy; 上海鸿巍企业管理咨询有限公司</div>
            </div>
        </form>
    </div>
</body>
</html>
