<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
	
<head th:include="head :: header" />
<title>保管家信息平台</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"
	href="../../back-test/css/bootstrap.min.css" />
<link rel="stylesheet" th:href="@{/css/weui.css}"
	href="../../back-test/css/weui.css" />
<link rel="stylesheet" th:href="@{/css/example.css}"
	href="../../back-test/css/example.css" />
<link rel="stylesheet" th:href="@{/css/bootstrap-responsive.min.css}"
	href="../../back-test/css/bootstrap-responsive.min.css" />
<link rel="stylesheet" th:href="@{/css/colorpicker.css}"
	href="../../back-test/css/colorpicker.css" />
<link rel="stylesheet" th:href="@{/css/datepicker.css}"
	href="../../back-test/css/datepicker.css" />
<link rel="stylesheet" th:href="@{/css/uniform.css}"
	href="../../back-test/css/uniform.css" />
<link rel="stylesheet" th:href="@{/css/select2.css}"
	href="../../back-test/css/select2.css" />
<link rel="stylesheet" th:href="@{/css/matrix-style2.css}"
	href="../../back-test/css/matrix-style2.css" />
<link rel="stylesheet" th:href="@{/css/matrix-media.css}"
	href="../../back-test/css/matrix-media.css" />
<link rel="stylesheet" th:href="@{/css/bootstrap-wysihtml5.css}"
	href="../../back-test/css/bootstrap-wysihtml5.css" />
	
<link rel="stylesheet" th:href="@{/font-awesome/css/font-awesome.css}"
		href="../../font-awesome/css/font-awesome.css" />	

 <script th:src="@{/js/jquery.min.js}" src="../../js/jquery.min.js"></script> 
<script th:src="@{/js/jquery.dataTables.min.js}" src="../../js/jquery.dataTables.min.js"></script> 
<script th:src="@{/js/jquery.leanModal.min.js}" src="../../js/jquery.leanModal.min.js"></script>
<style>
	.control-group .controls label{
		display:inline-block;
	}
	table{
		margin-top:10px;
	}
	#update{
		height:250px;
	}
</style>
<!-- </head> -->

<script th:inline="javascript" >
$(function(){
	//<![CDATA[
	var a = [[${list.size()}]];
	var b = parseInt(a/10)+1;
 	$('.data-table').dataTable({
	       
			"oLanguage": {
				"sLengthMenu": '每页显示 10 条记录共'+a+'条记录共'+b+'页',
				"sSearch": "查找：",
				"sZeroRecords": "未找到相关记录",
				"sEmptyTable": "没有记录",
				"oPaginate": {
					"sFirst": "首页",
					"sLast": "末页",
					"sNext": "下一页",
					"sPrevious": "上一页"
				 }
				
			},
			"bJQueryUI": true,
			"sPaginationType": "full_numbers",
			"sDom": '<""l>t<"F"fp>'
			
				
		}); 
	});
//]]> 
</script>
<body>
	<div id="content">
  <div id="content-header">
      <h1>预约管理</h1>
  </div>
  <div class="container-fluid">
			<div th:if="${not #strings.isEmpty(error)}">
				<p>
					<td th:text="${error}"></td>
				</p>
			</div>
			<div class="row-fluid">
      <div class="span12">
		<div class="widget-box">
          <div class="widget-title"> <span class="icon"><i class="icon-th"></i></span>
            <h5>预约详情 </h5>
         
            
            
        <a class="btn btn-info" style="float:right;" id="add"  href = "#" th:href="@{../card/checkForm}">添加病患</a>
            
          </div>
          <div class="widget-content nopadding">
            <table class="table table-bordered data-table">
              <thead>
                <tr>
                  <th>就诊人姓名</th>
                  <th>就诊日期</th>
                  <th>就诊医院</th>
                  <th>预约状态</th>
                  <th>是否挂号</th>
                  <th>服务产品</th>
                  <th>操作</th>
                </tr>
              </thead>
              <tbody>
					<tr th:each="patient : ${list}">  
			            <td th:text="${patient.name}"></td>  
			            <td th:text="${patient.date}"></td>  
			            <td>
			            <div th:switch="${patient.hid}">
						  <p th:case="1">儿童医院（北京西路门诊部）</p>
						  <p th:case="2">儿科医院（枫林路门诊部）</p>
						  <p th:case="3">儿童医学中心</p>
						  <p th:case="4">新华医院儿科</p>
						  <p th:case="5">东方医院南院儿科</p>
						  <p th:case="6">上海交通大学附属第一人民医院（南院）</p>
						  <p th:case="7">上海交通大学附属第九人民医院（总院）</p>
						  <p th:case="8">上海交通大学附属仁济医院（南院)</p>
						  <p th:case="9">上海同济大学附属东方医院（南院）</p>
						  <p th:case="10">上海同济大学附属同济医院</p>
						  <p th:case="11">上海同济大学附属第十人民医院</p>
						  <p th:case="12">上海中医药大学附属曙光医院（东院）</p>
						  <p th:case="13">上海中医药大学附属龙华医院</p>
						  <p th:case="14">上海同济大学附属岳阳医院</p>
						  <p th:case="15">上海复旦大学附属妇产科医院（杨浦分院）</p>
						  <p th:case="16">上海同济大学附属第一妇婴保健院（东院)</p>
						  <p th:case="17">上海交通大学附属儿童医院（北京西路）</p>
						  <p th:case="18">上海复旦大学附属华山医院</p>
						  <p th:case="19">上海交通大学附属瑞金医院（卢湾分院）</p>
						  <p th:case="20">上海复旦大学附属中山医院（逸仙医院）</p>
						  <p th:case="21">上海复旦大学附属儿科医院（枫林院区）</p>
						  <p th:case="22">上海交通大学附属上海儿童医学中心</p>
						  <p th:case="23">上海交通大学附属新华医院</p>
						  <p th:case="24">上海同济大学附属东方医院（北院）</p>
						  <p th:case="25">上海市第五人民医院</p>
						</div>
			            </td>  
			            <td >  
			            <div  th:switch="${patient.status}">
						  <p th:case="0">已取消</p>
						  <p th:case="1">预约中</p>
						  <p th:case="2">已确认</p>
						  <p th:case="3">已分配</p>
						  <p th:case="4">已取件</p>
						  <p th:case="5">已推送</p>
						  <p th:case="6">服务中</p>
						  <p th:case="7">完成</p>
						  <p th:case="8">已评价</p>
						</div>
						</td>
						<td>
						  <div th:switch="${patient.isRegister}">
						  <p th:case="0">否</p>
						  <p th:case="1">是</p>
						  </div>
						</td>
						
						
						  <td>
			            <div th:switch="${patient.productType}">
						  <p th:case="1">诊无忧</p>
						  <p th:case="2">速诊通</p>
						  <p th:case="3">安诊通</p>
						</div>
			            </td>  
			 			<td>
			      		<!-- 根据状态跳转 -->
			      			<div  th:switch="${patient.status}">
							  <p th:case="0">已取消</p>
							  <a th:case="1" href="#"  th:href="@{detail(pid=${patient.pid})}">确认信息</a>
							  <a th:case="2" href="#"  th:href="@{service(pid=${patient.pid})}">分配人员</a>
							  <a th:case="3" href="#"  th:href="@{service(pid=${patient.pid})}">详情</a>
							   <a th:case="6" href="#"  th:href="@{service(pid=${patient.pid})}">详情</a>
							  	<a th:case="7" href="#"  th:href="@{service(pid=${patient.pid})}">详情</a>
							  
						</div>	 
					   </td>  
						
			          </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>
