<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<head>
<title>保管家</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" id="WebViewport"
	content="width=640, initial-scale=1.0, minimum-scale=0.5, maximum-scale=2.0, user-scalable=yes" />
<link rel="stylesheet" th:href="@{/css/weui.min.css}"
	href="../../clinic/css/weui.min.css" />
<link rel="stylesheet" th:href="@{/css/weixin.css}"
	href="../../clinic/css/weixin.css" />
<script src="../../clinic/js/js_adaption.js"></script>
</head>
<body>
	<div class="jianju">
		<div>
			<img src="../../clinic/image/404.png" style="width: 100%"/>
		</div>
		<div align="center" style="margin-top: 100px">
			<p class="biaoqian">您的页面被吃掉了，请尝试重新访问</p>
		</div>
	</div>
</body>
</html>