<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<head>
<title>保管家</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport"
	content="width=device-width,initial-scale=1,user-scalable=0" />
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"
	href="../../css/bootstrap.min.css" />
<link rel="stylesheet" th:href="@{/css/weui.css}"
	href="../../css/weui.css" />
<link rel="stylesheet" th:href="@{/css/example.css}"
	href="../../css/example.css" />
</head>
<body style="ontouchstart">
	<div class="hd">
	    <h1 class="page_title" style="color:#454545">我的订单</h1>
	</div>	
			<div class="weui_cells_title" style="color:black;">待确认</div>
			<div class="weui_cell">
				<div class="weui_cell_bd weui_cell_primary">
					<p>李雯静 2016年06月20日</p>
					<p>上海交通大学附属儿童医学中心</p>
				</div>
			</div>
			<div class="weui_cells_title" style="color:black;">已完成</div>
    <div class="weui_cells weui_cells_access">
        <a class="weui_cell" href="javascript:;">
            <div class="weui_cell_bd weui_cell_primary">
          			<p>李雯静 2016年06月20日</p>
					<p>上海交通大学附属儿童医学中心</p>
            </div>
            <div class="weui_cell_ft">评价</div>
        </a>
    </div>


			<div class="weui_cells_title" style="color:black;">已取消</div>
			<div class="weui_cell">
				<div class="weui_cell_bd weui_cell_primary">
					<p>李雯静 2016年06月20日</p>
					<p>上海交通大学附属儿童医学中心</p>
				</div>
			</div>
		

</body>
</html>